body{
    background-image: url('../img/bg_pizza.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

nav{
    background-color: #81150b;
}

.nav-link, .navbar-brand{
    color: white;
}